.gameChooserButtonHorizontal {
    -fx-min-width: 20em;
    -fx-min-height: 5em;
    -fx-pref-width: 20em;
    -fx-pref-height: 5em;
}

.gameChooserButtonVertical {
    -fx-min-width: 14em;
    -fx-min-height: 14em;
    -fx-pref-width: 14em;
    -fx-pref-height: 14em;
}

.gameVariationChooserButton {
    -fx-background-insets: 0;
}

.gameChooserButtonGameTypeIndicator {
    -fx-border-insets: 0px;
    -fx-background-radius: 0px;
}

.gameChooserButtonTitle {
    -fx-font-size: 8pt;
}
