.gameChooserButtonHorizontal {
    -fx-min-width: 22em;
    -fx-min-height: 5em;
    -fx-pref-width: 22em;
    -fx-pref-height: 8em;
}

.gameChooserButtonVertical {
    -fx-min-width: 14em;
    -fx-min-height: 14em;
    -fx-pref-width: 14em;
    -fx-pref-height: 14em;
}

.gameChooserButtonTitle {
    -fx-font-size: 12pt;
}
