.gameChooserButtonHorizontal {
    -fx-min-width: 18em;
    -fx-min-height: 4em;
    -fx-pref-width: 28em;
    -fx-pref-height: 7em;
}

.gameChooserButtonVertical {
    -fx-min-width: 14em;
    -fx-min-height: 14em;
    -fx-pref-width: 14em;
    -fx-pref-height: 14em;
}

.gameChooserButtonTitle {
    -fx-font-size: 12pt;
}
