name: Continuous Delivery

# Trigger the workflow on push only
# Secrets are only available on the repository on which they are declared
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Package with Gradle (no test)
        run: |
          ./gradlew --stacktrace --info packageApp -x test
      - name: Generate Windows Installer with InnoSetup
        run: |
          chmod 777 build/distributions
          ./gradlew --stacktrace --info generateInstallerInDocker
      - name: Save Package Job Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: package-artifacts
          path: build/distributions/

  deploy:
    needs: package
    runs-on: ubuntu-latest
    steps:
      - name: Get Package Job Artifacts
        uses: actions/download-artifact@v1
        with:
          name: package-artifacts
      - name: Upload to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'eu-west-3'                  # optional: defaults to us-east-1
          SOURCE_DIR: 'package-artifacts'          # optional: defaults to entire repository
          DEST_DIR: 'snapshots'
