name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Set up xvfb for non headless tests
      run: sudo apt-get install xvfb
    - name: Build with Gradle (no test)
      run: ./gradlew --stacktrace --info build -x test
    - name: Run tests with Gradle
      run: _JAVA_OPTIONS="-Djava.awt.headless=true -Dtestfx.robot=glass -Dtestfx.headless=true -Dprism.order=sw" xvfb-run --auto-servernum ./gradlew --stacktrace --info test
